/* css design */
/* #top {background-color: aqua;}
#top main {background-color: yellow;}
#top main h1 {background-color: lime ;}
#top main p {} */

/* 선택자연습1 */
/* .title {background-color: aqua;}
.title h1 {color: blue;}
.title .txt_srap {background-color: orange;}
.title .txt_srap .txt_1 {background-color: red;}
.title .txt_srap .txt_1 .sub_titke {color: yellow;}
.title .txt_srap .txt_1 .name {color: green;} */

/*  선택자연습-2 */
/* #weather {background-color: beige;}
#weather h1 {color: gray;}
#weather .area {color: red;}
#weather .temperature {color: darkturquoise;}
#weather p {color: slateblue;}
#weather .sub_title {color:violet;}
#weather .humidity {color:  blue;}
#weather .dust {color: brown;}
#weather .result {color:yellow;} */

/* 선택자연습-3 */
#news {background-color: beige;}
#news > a {background-color: darkgreen;}
#news .box {background-color: rgb(255, 127, 80);}
#news .box > a {background-color: red;}
#news .box a h2 {background-color: burlywood;}
#news .box a>p {background-color: yellowgreen;}
#news p {background-color: orange;}

/* 선택자 연습 - 4 */
#papago {background-color: beige;}
#papago nav {background-color: red;}
#papago nav a {color: yellow;}
#papago main {background-color: darkgray;}
#papago main  h1 {background-color: deepskyblue;}
#papago main  h1 a {color: salmon;}
#papago main > a {color: blueviolet;}
#papago > a{color: sienna;}
