/* #03c75a */
main {
    font-family: "noto sans kr", sans-serif;}
main h1, main h1 span {
    font-size: 3.125rem;
    font-weight: 700;}
main h1 {
    line-height: 1.2;
    letter-spacing: -0.4px;
    padding-bottom: 48px;}
main h1 span {color: #03c75a;}
main p {letter-spacing: -0.4px;}
main .first {
    font-size: 1.5rem; 
    line-height:1.2;
    padding-bottom: 48px;}
main .second {
    font-size: 1.25rem;
    line-height: 1.7;
    padding-bottom: 50px;}
main p .user {
    font-size: 1.25rem;
    color: #03c75a;}
main p a {
    font-size: 1.25rem;
    text-decoration: underline;}
main h2 {
    font-size: 1.563rem;
padding-bottom: 22px;}
main h2 > span {font-size: 1.25rem;}
main .list {
    border-top: 3px solid #000; /* 상단 테이블 선 두께 */
    width:930px} /* 너비 */
main .list thead {
    background-color: #f5f5f5;}
main .list thead tr{}
main .list thead tr th{}
main .list tbody{/* 
    border-top:1px solid #aaa ;
    border-bottom:1px solid #aaa ; */
    border: 1px solid #aaa;
    border-left:0; border-right: 0;}
main .list tbody tr{}
main .list tbody tr td{}
main .list tbody tr td em{}
main .list thead tr .align,
main .list tbody tr .align {text-align: center;} /* 정렬방식 */
/* main .list tr .align {text-align: center;} 이것도 됌 */
main .list tr * {padding-top:15px; padding-bottom: 15px;} /* * 은 전체선택자 */
main .detail_view {
    line-height: 24px;
    padding-top: 11px;
     /* a태그는 inline, block 특징을 모두 가질 수 있지만 고유한 기본 속성은 inline이기 때문에 표시속성 display명령으로 변경하지 않는 한 크기, 여백을 제대로 인식하지 못한다. */
    width: 930px;/* a가 인라인일때 적용 안되는 속성 */
    display: inline-block;  /* (위) (문제해결 block도 가능) */
    text-align: right;
    text-decoration: underline;}
main .btm {
    padding-top: 130px; 
    width: 930px;
    text-align: center;}
    main .btm a {width: 178px; /* height: 64px; */
    background-color: #03c75a;
    border-radius: 30px;
    line-height: 64px; /* 대신 들어간것 ( line-height 는 한 줄 일때 높이가 정해진 레이아웃에서 수직중앙으로 배치하고자 하는 경우 px를 사용해서 적용한다.*/
    display: inline-block ;
    color: #fff;
    /* padding-top: 20px; */}